<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create developer</title>
  </head>
  <body>
    <form action="/developer/create" method="post">
      <label for="developerName">Enter your developer name</label
      ><input type="text" name="developerName" />
      <button>Submit form</button>
    </form>
  </body>
</html>
