<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
    <link rel="stylesheet" href="stylesheets/stylesheet.css" />
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <ul class="group-items">
      <% categories.map((category)=>{ %>
      <li class="name"><%= category.name %></li>
      <a href="/category/<%=category.id%>/edit" class="edit">Edit</a>
      <form
        action="/category/<%= category.id %>/delete"
        method="post"
        style="display: inline"
      >
        <button
          type="submit"
          class="delete"
          onclick="return confirm('Are you sure you want to delete this category?');"
        >
          X
        </button>
      </form>
      <%})%>
      <form action="/category/create">
        <button class="create">Create</button>
      </form>
    </ul>
  </body>
</html>
