<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
  </head>
  <body>
    <form action="/developer/:id/edit" method="post">
      <select name="developer" id="developer">
        <% developers.map((developer)=>{%>
        <option value="<%= developer.name %>"><%= developer.name %></option>
        <%})%>
      </select>
    </form>
  </body>
</html>
