<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=name %></title>
  </head>
  <body>
    <form action="/developer/edit" method="post">
      <input type="hidden" name="id" value="<%=id%>" />
      <label for="developerName">Edit developer</label
      ><input type="text" name="developerName" placeholder="<%= name %>" />
      <button type="submit">Submit form</button>
    </form>
  </body>
</html>
