<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
  </head>
  <body>
    <form action="/category/:id/edit" method="post">
      <label for="categoryName">Edit your category name:</label>
      <input
        type="text"
        name="categoryName"
        placeholder="<%= category[0].name %>"
      />
    </form>
  </body>
</html>
